POSTGRES_USER=postgres
POSTGRES_PASSWORD=123465
POSTGRES_DB=pet_project
POSTGRES_HOST=test-db
POSTGRES_PORT=5432

REDIS_HOST=test-redis
REDIS_PORT=6379

BOT_API_SECRET=8f4d2c9a6e1b7f03c5a8d9e2f4b6a1c7d8e9f0a3b5c6d7e8f9a0b1c2d3e4f5
BOT_TOKEN=1234567890:ADFkz_y7mi_G7hNowijv-IkDFCPHjLvO0Ac

JWT_SECRET_KEY=Tq18s0ewCw2HqKS0Uv9IMwehnv2IvNLkM3OcpI0DiWT
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
